<article class="category">
  <header>
    <%= link_to category do %>
      <%= image_tag category.image.thumb, alt: category.name %>
      <h4><%= category.name %></h4>
    <% end %>
  </header>
</article>
